<%= content_for(:title, "Search Results | MIT Libraries") %>

<div class="space-wrap">

  <h1>Showing results for "<%= params[:q] %>"</h1>

  <%= render partial: "form" %>

  <div id="hint">
    <%= render(partial: 'basic_search/issn') %>
    <%= render(partial: 'basic_search/isbn') %>
  </div>

  <%= render(partial: 'basic_search/error', collection: @errors) %>

  <div class="layout-1q3q layout-band top-space">
    <div class="col3q">
      <ul id="results" class="list-unbulleted">
        <%= render(partial: 'basic_search/result', collection: @results) || render('result_empty') %>
      </ul>
    </div>

    <aside class="col1q">
      <div id="facets">
        <h2>Available filters</h2>
        <%= render(partial: 'basic_search/facet', collection: @facets) || render('facet_empty') %>
      </div>
    </aside>
  </div>

  <div id="pagination">  
    <p>Pagination goes here</p>
  </div>
</div>
