<% return if values.empty? %>

<div class="category">
  <h3><%= nice_labels[category] || category %></h3>
  <ul class="category-terms list-unbulleted">
  <% values.each do |term| %>
    <li class="term">
      <a href="<%= results_path(add_facet(@enhanced_query, category, term['key'])) %>" class="<%= "applied" if @enhanced_query[category.to_sym] == term['key'] %>">
        <span class="name"><%= term['key'] %></span>
        <span class="count"><%= term['docCount'] %> <span class="sr">records</span></span>
      </a>
    </li>
  <% end %>
  </ul>
  <% if @enhanced_query[category.to_sym].present? %>
    <!-- TODO: abstract out 'show all' -->
    <div><%= link_to t('.show_all') + " #{nice_labels[category]&.downcase}", results_path(remove_facet(@enhanced_query, category)) %>
    </div>
  <% end %>
</div>
