<% return if values.blank? %>

<details class="filter-category" <%= 'open' if @enhanced_query[category].present? || first == true %>>
  <summary class="filter-label<%= ' expanded' if @enhanced_query[category].present? || first == true %>">
    <%= nice_labels[category] || category %>
  </summary>
  <div class="filter-options">
    <ul class="category-terms list-unbulleted">
    <% values.each do |term| %>
      <li class="term">
        <% if filter_applied?(@enhanced_query[category], term['key']) %>
          <a href="<%= results_path(remove_filter(@enhanced_query, category, term['key'])) %>" class="applied">
          <span class="sr">Remove applied filter:</span>
        <% else %>
          <a href="<%= results_path(add_filter(@enhanced_query, category, term['key'])) %>">
          <span class="sr">Apply filter:</span>
        <% end %>
        <% if Feature.enabled?(:geodata) %>
          <span class="name"><%= gdt_sources(term['key'], category) %></span>
        <% else %>
          <span class="name"><%= term['key'] %></span>
        <% end %>
          <span class="count"><%= term['docCount'] %> <span class="sr">records</span></span>
        </a>
      </li>
    <% end %>
    </ul>
  </div>
</details>
