<form id="search-form" class="<%= ab_test(:ui_colors, "", "alt") %>" action="<%= results_path %>" method="get" role="search">
  <label for="basic-search-main">What can we help you find?</label>
  <div class="form-wrapper">
    <div class="search-input-wrapper">
      <i class="fa-regular fa-magnifying-glass"></i>
      <input id="basic-search-main" type="search" class="field field-text basic-search-input" name="q" title="Keyword anywhere" value="<%= params[:q] %>" required>
    </div>
    <input id="tab-to-target" type="hidden" name="tab" value="<%= @active_tab %>">
    <button type="submit" class="btn button-primary">Search</button>
  </div>
  <div class="search-actions">
    <a href="https://libraries.mit.edu/search/">More search options</a>
  </div>
</form>

<% if Feature.enabled?(:boolean_picker) %>
  <aside class="panel panel-info">
    <div class="panel-heading">
  <% if cookies[:boolean_type].present? %>
    <p>Your boolean preference for this session is: <%= cookies[:boolean_type] %></p>
  <% else %>
    <p>No preference is set. Default boolean preference (`AND`) is enabled.</p>
  <% end %>
    </div>
    <div class="panel-body">
      <p>Change to:</p>
      <ul>
      <% ENV.fetch('BOOLEAN_OPTIONS', 'AND,OR').split(',').each do |opt| %>
        <li><%= link_to(opt, boolpref_path(boolean_type: opt)) %></li>
      <% end %>
        <li><%= link_to('Clear preference', boolpref_path()) %></li>
      </ul>
    </div>
    </aside>
<% end %>

<%= render partial: 'search/source_tabs' if params[:q].present? %>

<%= javascript_include_tag "search_form" %>
