<%
# Conditional input label depends on whether a search has already happened.
label = "Search the MIT Libraries"
if params[:q]
  label = "You searched for"
end

# Initial form setup is determined by the advanced parameter. Thereafter it is altered by javascript.
advanced_label = "Search by title, author, etc."
advanced_label_class = "closed"
search_required = true
if params[:advanced] == "true"
  advanced_label_class = "open"
  search_required = false
end

geobox_label = "Geospatial bounding box search"
geobox_label_class = "closed"
if params[:geobox] == "true"
  geobox_label_class = "open"
  geobox_required = true
  search_required = false
end

geodistance_label = "Geospatial distance search"
geodistance_label_class = "closed"
if params[:geodistance] == "true"
  geodistance_label_class = "open"
  geodistance_required = true
  search_required = false
end
%>

<form id="basic-search" class="form-horizontal basic-search" action="<%= results_path %>" method="get" role="search">
  <div class="form-group">
    <input id="basic-search-main" type="search"
           class="field field-text basic-search-input <%= "required" if search_required %>" name="q" title="<%= label %>"
           placeholder="Enter your search"
           value="<%= params[:q] %>" <%= 'required="required" aria-required="true"' if search_required %>>
    <div class="basic-search-submit">
      <button type="submit" class="btn button-primary">Search</button>
    </div>

    <% if Flipflop.enabled?(:gdt) %>
      <details id="geobox-search-panel" <%= "open" if params[:geobox] == "true" %>>
        <summary class="btn button-secondary" id="geobox-summary">
          <span id="geobox-search-label" class="<%= geobox_label_class %>"><%= geobox_label %></span>
        </summary>
        <input id="geobox-search-field" type="hidden" name="geobox" value="<%= params[:geobox] %>">
        <fieldset>
          <legend>Search within a geospatial bounding box</legend>
          <p>* All fields in this section are required</p>
          <div class="gridband layout-2c">
            <div class="field-wrap grid-item">
              <label class="geo-label" for="geobox-minLongitude">Minimum longitude</label>
              <input type="number" step="0.000001" min="-180.0" max="180.0"
                     class="field field-text <%= "required" if geobox_required %>" 
                     id="geobox-minLongitude" name="geoboxMinLongitude" value="<%= params[:geoboxMinLongitude] %>"
                     <%= 'required="required" aria-required="true"' if geobox_required %>
                     aria-describedby="minLong-desc">
              <span class="geo-desc" id="minLong-desc">
                A decimal between -180.0 and 180.0 (Ex: -73.507239)
                <span class="hint">Western Hemisphere is negative</span>
              </span>
            </div>
            <div class="field-wrap grid-item">
              <label class="geo-label" for="geobox-minLatitude">Minimum latitude</label>
              <input type="number" step="0.000001" min="-90.0" max="90.0"
                     class="field field-text <%= "required" if geobox_required %>" 
                     id="geobox-minLatitude" name="geoboxMinLatitude" value="<%= params[:geoboxMinLatitude] %>"
                     <%= 'required="required" aria-required="true"' if geobox_required %>
                     aria-describedby="minLat-desc">
              <span class="geo-desc" id="minLat-desc">
                A decimal between -90.0 and 90.0 (Ex: 41.239083)
                <span class="hint">Southern Hemisphere is negative</span>
              </span>
            </div>
            <div class="field-wrap grid-item">
              <label class="geo-label" for="geobox-maxLongitude">Maximum longitude</label>
              <input type="number" step="0.000001" min="-180.0" max="180.0"
                     class="field field-text <%= "required" if geobox_required %>" 
                     id="geobox-maxLongitude" name="geoboxMaxLongitude" value="<%= params[:geoboxMaxLongitude] %>"
                     <%= 'required="required" aria-required="true"' if geobox_required %>
                     aria-describedby="maxLong-desc">
               <span class="geo-desc" id="maxLong-desc">
                 A decimal between -180.0 and 180.0 (Ex: -69.928713)
                 <span class="hint">Western Hemisphere is negative</span>
               </span>
            </div>
            <div class="field-wrap grid-item">
              <label class="geo-label" for="geobox-maxLatitude">Maximum latitude</label>
              <input type="number" step="0.000001" min="-90.0" max="90.0"
                     class="field field-text <%= "required" if geobox_required %>" 
                     id="geobox-maxLatitude" name="geoboxMaxLatitude" value="<%= params[:geoboxMaxLatitude] %>"
                     <%= 'required="required" aria-required="true"' if geobox_required %>
                     aria-describedby="maxLat-desc">
               <span class="geo-desc" id="maxLat-desc">
                A decimal between -90.0 and 90.0 (Ex: 42.886759)
                <span class="hint">Southern Hemisphere is negative</span>
              </span>
            </div>
          </div>
        </fieldset>
      </details>
      <details id="geodistance-search-panel" <%= "open" if params[:geodistance] == "true" %>>
        <summary class="btn button-secondary" id="geodistance-summary">
          <span id="geodistance-search-label" class="<%= geodistance_label_class %>"><%= geodistance_label %></span>
        </summary>
        <input id="geodistance-search-field" type="hidden" name="geodistance" value="<%= params[:geodistance] %>">
        <fieldset>
          <legend>Search within a distance of a geographic point</legend>
          <p>* All fields in this section are required</p>
          <div class="gridband layout-2c">
            <div class="field-wrap grid-item">
              <label class="geo-label" for="geodistance-latitude">Latitude</label>
              <input type="number" step="0.000001" min="-90.0" max="90.0"
                     class="field field-text <%= "required" if geodistance_required %>" 
                     id="geodistance-latitude" name="geodistanceLatitude"
                     value="<%= params[:geodistanceLatitude] %>" aria-describedby="lat-desc"
                     <%= 'required="required" aria-required="true"' if geodistance_required %>
                     aria-describedby="lat-desc">
              <span class="geo-desc" id="lat-desc">
                A decimal between -90.0 and 90.0 (Ex: 42.279594)
                <span class="hint">Southern Hemisphere is negative</span>
              </span>
            </div>
            <div class="field-wrap grid-item">
              <label class="geo-label" for="geodistance-longitude">Longitude</label>
                <input type="number" step="0.000001" min="-180.0" max="180.0"
                       class="field field-text <%= "required" if geodistance_required %>" 
                       id="geodistance-longitude" name="geodistanceLongitude"
                       value="<%= params[:geodistanceLongitude] %>" aria-describedby="long-desc"
                       <%= 'required="required" aria-required="true"' if geodistance_required %>
                       aria-describedby="long-desc">
              <span class="geo-desc" id="long-desc">
                A decimal between -180.0 and 180.0 (Ex: -83.732124)
                <span class="hint">Western Hemisphere is negative</span>
              </span>
            </div>
            <div class="field-wrap grid-item">
              <label class="geo-label" for="geodistance-distance">Distance from the location</label>
              <input type="text" class="field field-text <%= "required" if geodistance_required %>"
                     id="geodistance-distance" name="geodistanceDistance"
                     value="<%= params[:geodistanceDistance] %>" aria-describedby="distance-desc"
                     <%= 'required="required" aria-required="true"' if geodistance_required %>
                     aria-describedby="distance-desc">
              <span class="geo-desc" id="distance-desc">
                Distance is in meters by default; add other units if preferred (Ex: '100km' or '50mi')
              </span>
            </div>
          </div>
        </fieldset>
      </details>
    <% end %>

    <details id="advanced-search-panel" <%= "open" if params[:advanced] == "true" %>>
      <summary class="btn button-secondary" id="advanced-summary">
        <span id="advanced-search-label"class="<%= advanced_label_class %>"><%= advanced_label %></span>
      </summary>
      <input id="advanced-search-field" type="hidden" name="advanced" value="<%= params[:advanced] %>">
      <div class="field-container">
        <div class="field-wrap">
          <label for="advanced-title" class="field-label">Title</label>
          <input type="text" class="field field-text wide" id="advanced-title" name="title"
                 value="<%= params[:title] %>">
        </div>

        <div class="field-wrap">
          <label for="advanced-contributors" class="field-label">
            <%= Flipflop.enabled?(:gdt) ? "Authors" : "Contributors" %>    
          </label>
          <input type="text" class="field field-text wide" id="advanced-contributors" name="contributors"
                 value="<%= params[:contributors] %>">
        </div>

        <% unless Flipflop.enabled?(:gdt) %>
          <div class="field-wrap">
            <label for="advanced-citation" class="field-label">Citation</label>
            <input type="text" class="field field-text wide" id="advanced-citation" name="citation" 
                   value="<%= params[:citation] %>">
          </div>

          <div class="field-wrap">
            <label for="advanced-fundingInformation" class="field-label">Funding information</label>
            <input type="text" class="field field-text wide" id="advanced-fundingInformation" name="fundingInformation"
                   value="<%= params[:fundingInformation] %>">
          </div>

          <div class="field-wrap">
            <label for="advanced-identifiers" class="field-label">Identifiers</label>
            <input type="text" class="field field-text wide" id="advanced-identifiers" name="identifiers"
                   value="<%= params[:identifiers] %>">
          </div>
        <% end %>

        <div class="field-wrap">
          <label for="advanced-subjects" class="field-label">Subjects</label>
          <input type="text" class="field field-text wide" id="advanced-subjects" name="subjects"
                 value="<%= params[:subjects] %>">
        </div>

        <div class="field-wrap">
          <label for="advanced-locations" class="field-label">Locations</label>
          <input type="text" class="field field-text wide" id="advanced-locations" name="locations"
                 value="<%= params[:locations] %>">
        </div>

        <% unless Flipflop.enabled?(:gdt) %>
          <div class="field-wrap list-checkboxes">
            <%# https://www.w3.org/WAI/tutorials/forms/grouping/ %>
            <fieldset>
              <legend>Limit search to checked sources.</legend>

              <% timdex_sources.each do |source| %>
                <%= source_checkbox(source, params) %>
              <% end %>
            </fieldset>
          </div>
        <% end %>
      </div>
    </details>
  </div>
</form>

<% if Flipflop.enabled?(:boolean_picker) %>
  <aside class="panel panel-info">
    <div class="panel-heading">
  <% if cookies[:boolean_type].present? %>
    <p>Your boolean preference for this session is: <%= cookies[:boolean_type] %></p>
  <% else %>
    <p>No preference is set. Default boolean preference (`AND`) is enabled.</p>
  <% end %>
    </div>
    <div class="panel-body">
      <p>Change to:</p>
      <ul>
      <% ENV.fetch('BOOLEAN_OPTIONS', 'AND,OR').split(',').each do |opt| %>
        <li><%= link_to(opt, boolpref_path(boolean_type: opt)) %></li>
      <% end %>
        <li><%= link_to('Clear preference', boolpref_path()) %></li>
      </ul>
    </div>
    </aside>
<% end %>

<%= javascript_include_tag "search_form" %>
