<% return if @pagination.nil? %>
<div id="pagination">
  <nav class="pagination-container" aria-label="Pagination" data-matomo-seen="Navigation, Pagination Seen, Tab: {{getActiveTabName}}" data-matomo-click="Navigation, Pagination Engaged, Link: {{getElementText}}; Current Page: {{getCurrentPage}}">
    <div class="previous">
      <%= prev_url(@enhanced_query) %>
    </div>
    <div class="center-elements">
      <div class="first">
        <%= first_url(@enhanced_query) %>
      </div>  
      <div class="current"><span><%= @pagination[:start] %> - <%= @pagination[:end] %> of <%= number_with_delimiter(@pagination[:hits]) %></span></div>
    </div>
    <div class="next">
      <%= next_url(@enhanced_query) %>
    </div>
  </nav>
</div>
