<% return if @pagination.nil? %>

<nav class="pagination-container" aria-label="Pagination">
  <div class="previous">
    <% if @pagination[:prev] %>
      <%= prev_url(@enhanced_query) %>
    <% else %>
      First
    <% end %>
  </div>
  <div class="current"><%= @pagination[:start] %> - <%= @pagination[:end] %> of <%= @pagination[:hits] %></div>
  <div class="next">
    <% if @pagination[:next] %>
      <%= next_url(@enhanced_query) %>
    <% else %>
      Last
    <% end %>
  </div>
</nav>
