<% return if @pagination.nil? %>

<div class="gridband layout-3c pagination-container">
  <div class="grid-item previous">
    <% if @pagination[:prev] %>
      <%= prev_url(@enhanced_query) %>
    <% else %>
      <%= t('.first_page') %>
    <% end %>
  </div>
  <div class="grid-item current"><%= t('.page') %> <%= @pagination[:page] %> <%= t('.of') %> <%= (@pagination[:hits] / 20) + 1 %></div>
  <div class="grid-item next">
    <% if @pagination[:next] %>
      <%= next_url(@enhanced_query) %>
    <% else %>
      <%= t('.last_page') %>
    <% end %>
  </div>
</div>
