<li class="result use">
  <div class="result-content">
    <p class="eyebrow"><%= result[:eyebrow] %></p>
    <h3 class="record-title">
      <span class="sr">Title: </span>
      <%= link_to_result(result) %>
    </h3>

    <div class="result-metadata">

      <p class="pub-info">
        <span><%= result[:content_type]&.each { |type| type['value'] }&.join(' ; ') %></span>
        
        <% if result[:date_range].present? %>
          <span><%= result[:date_range] %></span>
        <% else %>
          <span>
            <% result[:dates]&.each do |date| %>
              <%= date['value'] if date['kind'] == 'Publication date' %>
            <% end %>
          </span>
        <% end %>
      </p>

      <% if result[:contributors].present? %>   
        <span class="sr">Contributors: </span>
        <ul class="list-inline truncate-list contributors">
          <%= render partial: 'shared/contributors', locals: { contributors: result[:contributors] } %>
        </ul>
      <% end %>

      <% if result[:subjects].present? %>
        <div class="result-subjects truncate-list">
          <span class="sr">Subjects: </span>
          <ul>
            <% result[:subjects].each do |subject| %>
              <li><%= subject %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if result[:summary].present? %>
        <div class="result-summary truncate-list">
          <span class="sr">Summary: </span><%= result[:summary] %>
        </div>
      <% end %>
    </div>

    <div class="result-highlights use">
      <%= render partial: 'search/highlights', locals: { result: result } %>
    </div>

    <div class="result-get">
      <%= view_online(result) %>
    </div>
  </div>
</li>
