<li class="result">
  <div class="result-content">
    <h3 class="record-title">
      <span class="sr">Title: </span><%= link_to(result_geo['title'], record_path(result_geo['timdexRecordId'])) %>
    </h3>

    <div class="data-info">
      <%= render partial: 'shared/geo_data_info', locals: { metadata: result_geo } %>
    </div>

    <% if result_geo['contributors'] %> 
      <span class="sr">Contributors: </span>
      <ul class="list-inline truncate-list contributors">
        <%= render partial: 'shared/contributors', locals: { contributors: result_geo['contributors'] } %>
      </ul>
    <% end %>

    <% if result_geo['summary'] %>
      <p class="result-summary truncate-list">
        <span class="sr">Summary: </span><%= result_geo['summary'].join(' ') %>
      </p>
    <% end %>


    <!-- We only care about geospatial locations for this, as place names are also subjects. -->
    <% if geospatial_coordinates?(result_geo['locations']) %>
      
      <div id=<%= "map_#{result_geo_counter}" %> style="height: 180px" data-controller="map" data-map-coords-value=<%= bounding_box_to_coords(result_geo).to_json %> data-map-id-value=<%= "map_#{result_geo_counter}" %>></div>

      <p>
        <ul>
          <% parse_nested_field(result_geo['locations']).each do |location| %>
            <% if location['geoshape'].present? %>
              <li><%= "#{location['kind']}: #{location['geoshape']}" %></li>
            <% end %>
          <% end %>
        </ul>
      </p>
    <% end %>

    <% if result_geo['highlight'] %>
      <div class="result-highlights">
        <%= render partial: 'search/highlights', locals: { result: result_geo } %>
      </div>
    <% end %>

    <div class="result-record">
      <%= view_record(result_geo['timdexRecordId']) %>
    </div>
  </div>
</li>
