<aside class="result-callout">
  <%= icon(fa_name, 'fa-light').html_safe %>
  <div>
    <h4><%= heading %></h4>
    <p><%= blurb %></p>
    <a href="<%= link_url %>"><%= link_text %></a>
  </div>
</aside>
