<li class="result primo" data-record-id="<%=result[:identifier]%>">
  <div class="result-content">
    <% if multi_source_tab? && result[:eyebrow].present? %>
      <p class="eyebrow"><%= result[:eyebrow] %></p>
    <% end %>
    <h3 class="record-title">
      <span class="sr">Title: </span>
      <% if result[:links]&.find { |link| link['kind'] == 'full record' } %>
        <%= link_to(result[:title], result[:links].find { |link| link['kind'] == 'full record' }['url']) %>
      <% else %>
        <%= result[:title] %>
      <% end %>
    </h3>

    <div class="result-metadata">
      <p class="pub-info">
        <span><%= result[:format] %></span>
        <span><%= result[:year] %></span>
      </p>

      <%# unclear why TIMDEX is using contributors and Primo is using creators. Should we normalize this? %>
      <% if result[:creators].present? %>
        <span class="sr">Contributors: </span>
        <ul class="list-inline truncate-list contributors">
          <% result[:creators].each do |creator| %>
            <li>
              <% if creator[:link] %>
                <%= link_to creator[:value], creator[:link]  %>
              <% else %>
                <%= creator[:value] %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if result[:citation].present? %>
        <div class="result-container">
          <span>In: </span><%= result[:citation] %>
        </div>
      <% end %>

      <% if result[:subjects].present? %>
        <div class="result-subjects truncate-list">
          <span class="sr">Subjects: </span>
          <ul class="list-inline truncate-list subjects">
            <% result[:subjects].each do |subject| %>
              <li><%= subject %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if result[:summary].present? %>
        <div class="result-summary truncate-list">
          <span class="sr">Summary: </span><%= sanitize result[:summary] %>
        </div>
      <% end %>
    </div>

    <div class="result-get">
      <% if result[:links].present? %>
        <% result[:links].each do |link| %>
          <% if link['kind'].downcase == 'full record' %>
            <%# Full record link button uses the same link as the title link %>
            <% if Feature.enabled?(:record_link) %>
              <%= link_to 'View full record', link['url'], class: 'button' %>
            <% end %>
          <%# Primo supplies PDF and HTML links in addition to the OpenURL variant that may be useful. %>
          <%# We hide links with the `primo-link` css class if LibKey returns results. %>
          <% else %>
            <%= link_to link['kind'], link['url'], class: 'button primo-link' %>
          <% end %>
        <% end %>
      <% end %>

      <%# LibKey links are our preferred links so we call the API when possible to get these preferred links %>
      <% if Libkey.enabled? && result[:doi].present? %>
        <%= render(partial: 'trigger_libkey', locals: { kind: 'doi', identifier: result[:doi] }) %>
      <% elsif Libkey.enabled? && result[:pmid].present? %>
        <%= render(partial: 'trigger_libkey', locals: { kind: 'pmid', identifier: result[:pmid] }) %>
      <% end %>

      <% if result[:availability].present? && result[:format].downcase != 'journal' %>
        <span class="availability"><%= availability(result[:availability], result[:location], result[:other_availability]) %></span>
      <% end %>

      <% if result[:format].downcase == 'journal' && result[:issn].present? %>
        <%= render(partial: 'trigger_browzine', locals: { issn: result[:issn] }) %>
      <% end %>
    </div>
  </div>
</li>
