<li class="result primo">
  <div class="result-content">
    <p class="eyebrow"><%= result[:eyebrow] %></p>
    <h3 class="record-title">
      <span class="sr">Title: </span>
      <% if result[:links]&.find { |link| link['kind'] == 'full record' } %>
        <%= link_to(result[:title], result[:links].find { |link| link['kind'] == 'full record' }['url']) %>
      <% else %>
        <%= result[:title] %>
      <% end %>
    </h3>

    <div class="result-metadata">

      <p class="pub-info">
        <span><%= result[:format] %></span>
        <span><%= result[:year] %></span>
      </p>

      <% if result[:creators].present? %>
        <span class="sr">Contributors: </span>
        <ul class="list-inline truncate-list contributors">
          <% result[:creators].each do |creator| %>
            <li>
              <% if creator[:link] %>
                <%= link_to creator[:value], creator[:link]  %>
              <% else %>
                <%= creator[:value] %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>

    <div class="result-get">
      <% if result[:links].present? %>
        <% result[:links].each do |link| %>
          <%= link_to link['kind'].titleize, link['url'], class: 'button' %>
          <% if result[:availability].present? %>
            <span class="availability"><%= availability(result[:availability], result[:location], result[:other_availability]) %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
