<li class="result">
  <h2 class="record-title">
    <span class="sr">Title: </span><%= link_to(result['title'], record_path(result['timdexRecordId'])) %>
  </h2>

  <p class="pub-info">
    <span><%= result['contentType']&.each { |type| type['value'] }.join(' ; ') %></span>
    <span>
      <% result['dates']&.each do |date| %>
        <%= date['value'] if date['kind'] == 'Publication date' %>
      <% end %>
    </span>
  </p>

  <% contributors = [] %>
  <% result['contributors']&.each do |contributor| %>
    <% contributors << contributor['value'] %>
  <% end %>

  <p class="result-authors">
    <span class="sr">Authors: </span>
    <%= contributors.uniq.map { |contrib| link_to contrib, results_path({ advanced: true, contributors: contrib }) }.join(' ; ').html_safe %>
  </p>

  <div class="result-get">
    <%= link_to 'View online', "##{Random.rand(100000)}", class: 'button button-primary green' %>
  </div>
</li>
