<aside class="result-callout">
  <i class="fa-light fa-<%= icon %>"></i>
  <div>
    <h4><%= heading %></h4>
    <p><%= blurb %></p>
    <a href="<%= link_url %>"><%= link_text %></a>
  </div>
</aside>
