  <!-- Tab Navigation -->
  <nav id="tabs" class="tab-navigation" aria-label="Result type navigation">
    <ul>
      <li><%= link_to_tab("All") %></li>

      <% if Feature.enabled?(:tab_primo_all) %>
        <li><%= link_to_tab("Primo", "Articles and Catalog") %></li>
      <% end %>

      <li><%= link_to_tab("cdi", "Articles") %></li>
      <li><%= link_to_tab("alma", "Catalog") %></li>

      <% if Feature.enabled?(:tab_timdex_all) %>
        <li><%= link_to_tab("TIMDEX") %></li>
      <% end %>
      <% if Feature.enabled?(:tab_timdex_alma) %>
        <li><%= link_to_tab("timdex_alma", "Alma (TIMDEX)") %></li>
      <% end %>
      <li><%= link_to_tab("Website") %></li>
      <li><%= link_to_tab("aspace", "Archival materials") %></li>
    </ul>
  </nav>
  