<%= content_for(:title, results_page_title(@enhanced_query)) %>

<% content_for :additional_meta_tag do %>
  <meta name="robots" content="noindex, nofollow" />
<% end %>

<div id="content-wrapper" class="space-wrap">
  <%= render(partial: 'shared/error', collection: @errors) %>

  <% if @negative %>
    <aside class="mitlib-suggestion-panel">
      <div class="panel-content">
        <p class="panel-type">We might not have that here...</p>
        <h3><%= link_to( @negative['title'], "https://openlibrary.org#{@negative['key']}" )%></h3>
      </div>
    </aside>
  <% end %>

  <%= render(partial: 'trigger_tacos') if tacos_enabled? %>

  <%= turbo_frame_tag "search-results", data: { turbo_action: "advance" } do %>
    <div id="results-section">
      
      <% if @show_primo_continuation %>

        <%= render partial: 'search/primo_continuation' %>

      <% elsif @results.present? && @errors.blank? %>

        <h2 class="results-context"><%= results_summary(@pagination[:hits]) %></h2>
        <p class="results-context-description"><%= tab_description %></p>    
        <div id="results-layout-wrapper">  
          <main id="results">
            <ol class="results-list use" start="<%= @pagination[:start] %>">             
              <% @results.each do |result| %>
                  <% if result[:api] == 'primo' %>
                    <%= render(partial: 'search/result_primo', locals: { result: result }) %>
                  <% elsif result[:api] == 'timdex' %>
                    <%= render(partial: 'search/result', locals: { result: result }) %>
                  <% end %>
                <% end %>
            </ol>
            <%# Note `results_callouts` is also displayed in no errors condition below %>
            <%= render partial: "results_callouts" %>
          </main>
          <%= render partial: "results_sidebar" %>
        </div>
        <%= render partial: "pagination" %>

      <% elsif @errors.blank? %>

        <div id="results-layout-wrapper">
          <main id="results" class="no-results-container">
            <%= render partial: "no_results" %>

            <%# Note `results_callouts` is also displayed in results and no errors condition above %>
            <%= render partial: "results_callouts" %>
          </main>
        </div>

      <% end %>

    </div>

  <% end %>

</div>

<%= javascript_include_tag "filters" %>
