<%= content_for(:title, results_page_title(@enhanced_query)) %>

<% content_for :additional_meta_tag do %>
  <meta name="robots" content="noindex, nofollow" />
<% end %>

<div class="space-wrap">

  <%= render partial: "shared/site_title" %>

  <%= render partial: "search_summary" %>

  <%= render(partial: 'shared/error', collection: @errors) %>

  <!-- Tab Navigation -->
  <div id="tabs" class="tab-navigation top-space">
    <%= link_to "Primo", results_path(params.permit(:q, :per_page, :page).merge(tab: 'primo')), 
                class: "tab-link #{'active' if @active_tab == 'primo'}", 
                data: { turbo_frame: "search-results", turbo_action: "advance" } %>
    <%= link_to "TIMDEX", results_path(params.permit(:q, :per_page, :page).merge(tab: 'timdex')), 
                class: "tab-link #{'active' if @active_tab == 'timdex'}", 
                data: { turbo_frame: "search-results", turbo_action: "advance" } %>
  </div>

  <%= render(partial: 'trigger_tacos') if tacos_enabled? %>

  <%= turbo_frame_tag "search-results" do %>
    <div class="layout-3q1q layout-band top-space">
      <main id="results" class="col3q wrap-results">
        <% if @show_primo_continuation %>
          <%= render partial: 'search/primo_continuation' %>
        <% elsif @results.present? && @errors.blank? %>
          <h2 class="hd-3 results-context"><%= results_summary(@pagination[:hits]) %> returned</h2>
          <ol class="results-list" start="<%= @pagination[:start] %>">
            <% case @active_tab %>
            <% when 'primo' %>
              <%= render(partial: 'search/result_primo', collection: @results, as: :result) %>
            <% when 'timdex' %>
              <%= render(partial: 'search/result', collection: @results, as: :result) %>
            <% end %>
          </ol>
        <% elsif @errors.blank? %>
          <div class="no-results">
            <p class="hd-2">No results found for your search</p>
          </div>
        <% end %>
      </main>
    </div>

    <% if @results.present? %>
      <div id="pagination">  
        <%= render partial: "pagination" %>
      </div>
      <%= render partial: 'shared/ask', locals: { display: 'view-md' } %>
    <% end %>
  <% end %>

  <%= render partial: 'shared/ask', locals: { display: 'aside' } if @results.blank? %>
</div>

<%= javascript_include_tag "filters" %>
