<%= content_for(:title, results_page_title(@enhanced_query)) %>

<% content_for :additional_meta_tag do %>
  <meta name="robots" content="noindex, nofollow" />
<% end %>

<div id="content-wrapper" class="space-wrap">
  <%= render(partial: 'shared/error', collection: @errors) %>

  <%= render(partial: 'trigger_tacos') if tacos_enabled? %>

  <%= turbo_frame_tag "search-results", data: { turbo_action: "advance" } do %>
    <div id="results-section">
      <% if @show_primo_continuation %>
        <%= render partial: 'search/primo_continuation' %>
      <% elsif @results.present? && @errors.blank? %>
      <h2 class="results-context"><%= results_summary(@pagination[:hits]) %></h2>
      <p class="results-context-description">From all MIT Libraries sources</p>    
      <div id="results-layout-wrapper">  
        <main id="results">
            <ol class="results-list" start="<%= @pagination[:start] %>">
              <% case @active_tab %>
              <% when 'primo' %>
                <%= render(partial: 'search/result_primo', collection: @results, as: :result) %>
              <% when 'timdex' %>
                <%= render(partial: 'search/result', collection: @results, as: :result) %>
              <% when 'all' %>
                <% @results.each do |result| %>
                  <% if result[:source] == 'Primo' %>
                    <%= render(partial: 'search/result_primo', locals: { result: result }) %>
                  <% else %>
                    <%= render(partial: 'search/result', locals: { result: result }) %>
                  <% end %>
                <% end %>
              <% end %>
            </ol>
            <%= render partial: "results_callouts" %>
          <% elsif @errors.blank? %>
            <main id="results">
              <div class="no-results">
                <p class="hd-2">No results found for your search</p>
              </div>
            </main>
          <% end %>
        </main>
        <% if @results.present? %>
          <%= render partial: "results_sidebar" %>
        <% end %>
      </div>
    </div>

    <% if @results.present? %>
      <%= render partial: "pagination" %>
    <% end %>
  <% end %>

</div>

<%= javascript_include_tag "filters" %>
