<%= content_for(:title, "Search Results | MIT Libraries") %>

<div class="space-wrap">

  <p>Showing results for:
      <ul>
        <% if @enhanced_query[:q].present? %>
          <li>Keyword anywhere: <%= @enhanced_query[:q] %></li>
        <% end %>
        <% if @enhanced_query[:citation].present? %>
          <li>Citation: <%= @enhanced_query[:citation] %></li>
        <% end %>
        <% if @enhanced_query[:contentType].present? %>
          <li>Content type: <%= @enhanced_query[:contentType] %></li>
        <% end %>
        <% if @enhanced_query[:contributors].present? %>
          <li>Contributors: <%= @enhanced_query[:contributors] %></li>
        <% end %>
        <% if @enhanced_query[:fundingInformation].present? %>
          <li>Funders: <%= @enhanced_query[:fundingInformation] %></li>
        <% end %>
        <% if @enhanced_query[:identifiers].present? %>
          <li>Identifiers: <%= @enhanced_query[:identifiers] %></li>
        <% end %>
        <% if @enhanced_query[:locations].present? %>
          <li>Locations: <%= @enhanced_query[:locations] %></li>
        <% end %>
        <% if @enhanced_query[:subjects].present? %>
          <li>Subjects: <%= @enhanced_query[:subjects] %></li>
        <% end %>
        <% if @enhanced_query[:title].present? %>
          <li>Title: <%= @enhanced_query[:title] %></li>
        <% end %>
        <% if @enhanced_query[:source].present? %>
          <li>Source: <%= @enhanced_query[:source] %></li>
        <% end %>
      </ul>
  </p>

  <%= render partial: "form" %>

  <div id="hint" aria-live="polite">
    <%= render(partial: 'search/issn') %>
    <%= render(partial: 'search/isbn') %>
    <%= render(partial: 'search/pmid') %>
    <%= render(partial: 'search/doi') %>
  </div>

  <%= render(partial: 'shared/error', collection: @errors) %>

  <div class="<%= 'layout-1q3q' if @filters.present? %> layout-band top-space">
    <div class="col3q wrap-results">
      <% if @results.present? %>
        <ul id="results" class="list-unbulleted">
          <%= render(partial: 'search/result', collection: @results) %>
        </ul>
      <% else %>
        <div id="results">
          <p class="hd-2">No results found for your search</p>
        </div>
      <% end %>
    </div>

    <% if @filters.present? %>
      <aside class="col1q filter-container">
        <div id="filters">
          <h2>Available filters</h2>
          <% @filters&.each do |category, values| %>
            <%= render(partial: 'search/filter', locals: {category: category, values: values}) %>
          <% end %>
        </div>
      </aside>
    <% end %>
  </div>

  <% if @results.present? %>
    <div id="pagination">  
      <%= render partial: "pagination" %>
    </div>
  <% end %>
</div>
