<ul class="list-inline">
  <% if metadata[:content_type] %>
    <li><%= metadata[:content_type]&.each { |type| type['value'] }&.join(' ; ') %></li>
  <% elsif metadata['contentType'] %>
    <li><%= metadata['contentType']&.each { |type| type['value'] }&.join(' ; ') %></li>
  <% end %>

  <% if parse_geo_dates(metadata[:dates]) %>
    <li><%= parse_geo_dates(metadata[:dates]) %></li>
  <% elsif parse_geo_dates(metadata['dates']) %>
    <li><%= parse_geo_dates(metadata['dates']) %></li>
  <% end %>
  <% if access_type(metadata) == 'unknown: check with owning institution' %>
    <li>
      Not owned by MIT
      <span class="other-provider">(<%= link_to "Owned by #{metadata['provider']}", gis_access_link(metadata) %>)</span>
    </li>
  <% elsif access_type(metadata) == 'MIT authentication required' %>
    <li><span class="access-restricted"><%= access_type(metadata) %></span></li>
  <% end %>
</ul>
