<% return if @record.blank? %>

<div class="access-button-container">
  <% if access_type(@record) == 'no authentication required' %>
    <a class="btn button-primary access-button" href="<%= gis_access_link(@record) %>">Download geodata files</a>
  <% elsif access_type(@record) == 'MIT authentication required' %>
    <a class="btn button-primary access-button" href="<%= gis_access_link(@record) %>" target="_blank">
      Download geodata files <span class="auth-notice">MIT authentication</span>
    </a>
  <% else %>
    <p>This content is owned by: <strong><%= @record['provider'] %></strong></p>
    <a class="btn button-primary access-button" href="<%= gis_access_link(@record) %>">
      View <%= @record['provider'] %> record
    </a>
  <% end %>
  <% if access_type(@record) != 'unknown: check with owning institution' &&
        source_metadata_available?(@record['links']) %>
    <a class="btn button-secondary metadata-link" href="<%= source_metadata_link(@record['links']) %>">
      Download full metadata
    </a>
  <% end %>
</div>
