<h3 class="section-title">More information</h3>

<ul class="list-moreinfo">
  <!-- Add publisher when the data is available -->
  <% if metadata['dates'].present? %>
    <li><strong>Dates:</strong>
      <ul>
      <% metadata['dates'].each do |date| %>
        <li><%= "kind: #{date['kind']}" if date['kind'] %><%= "; note: #{date['note']}" if date['note'] %><%= "; range: #{date['range']['gte']}-#{date['range']['lte']}" if date['range'] %><%= "; value: #{date['value']}" if date['value'] %></li>
      <% end %>
      </ul>
    </li>
  <% end %>
  <% if metadata['locations'].present? %>
    <li><strong>Locations:</strong>
      <ul>
      <% metadata['locations'].each do |location| %>
        <% if location['geopoint'] %>
          <li><%= "geopoint: #{location['geopoint']}" if location['geopoint'] %><%= "; kind: #{location['kind']}" if location['kind'] %><%= "; value: #{location['value']}" if location['value'] %></li>
        <% else %>
          <li><%= "kind: #{location['kind']}" if location['kind'] %><%= "; value: #{location['value']}" if location['value'] %></li>
        <% end %>
      <% end %>
      </ul>
    </li>
  <% end %>
  <% if metadata['notes'].present? %>
    <li><strong>Notes:</strong>
      <ul>
      <% metadata['notes'].each do |note| %>
        <li><%= "kind: #{note['kind']}" if note['kind'] %><<%= "; value: #{note['value']}" if note['value'] %></li>
      <% end %>
      </ul>
    </li>
  <% end %>
  <% if metadata['provider'] %>
    <li><strong>Provider:</strong> <%= metadata['provider'] %></li>
  <% end %>
  <% if metadata['citation'] %>
    <li><strong>Citation:</strong> <%= metadata['citation'] %></li>
  <% end %>
  <% if metadata['format'] %>
    <li><strong>Format:</strong> <%= metadata['format'] %></li>
  <% end %>
  <% if metadata['languages'] %>
    <li><strong>Languages:</strong> <%= metadata['languages'].join('; ') %></li>
  <% end %>
  <% if metadata['publicationInformation'] %>
    <li><strong>Publication information:</strong> <%= metadata['publicationInformation'] %></li>
  <% end %>
</ul>
