<div id="full-record" class="gridband layout-3q1q wrap-full-record">
  <main class="col3q box-content region full-record" data-region="Full record">
    <h2 class="record-title">
      <span class="sr">Title: </span>
      <% if @record['title'].present? %>
        <%= @record['title'] %>
      <% else %>
        No title provided for this item.
      <% end %>
    </h2>

    <div class="data-info">
      <%= render partial: 'shared/geo_data_info', locals: { metadata: @record } %>
    </div>

    <% if @record['contributors'].present? %>
      <span class="sr">Contributors: </span>
      <ul class="list-inline contributors">
        <%= render partial: 'shared/contributors', locals: { contributors: @record['contributors'] } %>
      </ul>
    <% end %>

    <% if @record['alternateTitles'].present? %>
      <h3 class="section-title">Alternate titles</h3>
      <ul class="list-unbulleted">
      <% parse_nested_field(@record['alternateTitles']).each do |title| %>
        <li><%= title['value'] %></li>
      <% end %>
      </ul>
    <% end %>

    <% if @record['dates'].present? %>
      <h3 class="section-title">Dates</h3>
        <ul class="list-dates">
          <% @record['dates'].each do |date| %>
            <li>
              <%= date['kind'] %>: <%= date_parse(date['value']) %><%= date_range(date['range']) %>
              <%= " Note: #{date['note']}" if date['note'].present? %>
            </li>
          <% end %>
        </ul>
    <% end %>

    <!-- The publishers field also includes location and date subfields, but these are unused in GDT. -->
    <% if @record['publishers'].present? %>
      <h3 class="section-title">Publishers</h3>
      <ul>
      <% parse_nested_field(@record['publishers']).each do |publisher| %>
        <li><%= publisher['name'] %></li>
      <% end %>
      </ul>
    <% end %>

    <% if @record['summary'].present? %>
      <h3 class="section-title">Summary</h3>
      <% @record['summary'].each do |paragraph| %>
        <p>
          <%= sanitize paragraph, tags: %w(p strong em a), attributes: %w(href) %>
        </p>
      <% end %>
    <% end %>

    <!-- We only care about geospatial locations for this, as place names are also subjects. -->
    <% if geospatial_coordinates?(@record['locations']) %>
      <h3 class="section-title">Geospatial coordinates</h3>

      <div id="map" style="height: 180px"></div>
      <script>
        var map = L.map('map');
        
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        // define rectangle geographical bounds
        // -71.158693, -71.064796, 42.395972, 42.351993
        // var bounds = [[42.395972, -71.158693],[42.351993, -71.064796]];

        console.log('#<%= @rectangle %>');
        var bounds = <%= @rectangle %>;

        // create an orange rectangle
        L.rectangle(bounds, {color: "#ff7800", weight: 1}).addTo(map);

        // zoom the map to the rectangle bounds
        map.fitBounds(bounds);
      </script>

      <p>
        <ul>
          <% parse_nested_field(@record['locations']).each do |location| %>
            <% if location['geoshape'].present? %>
              <li><%= "#{location['kind']}: #{location['geoshape']}" %></li>
            <% end %>
          <% end %>
        </ul>
      </p>
    <% end %>

    <% if @record['subjects'].present? %>
      <h3 class="section-title">Subjects</h3>
      <ul>
      <% deduplicate_subjects(@record['subjects'])&.each do |subject| %>
        <li><%= subject.join('; ') %></li>
      <% end %>
      </ul>
    <% end %>

    <% if @record['notes'].present? %>
      <h3 class="section-title">Notes</h3>
      <ul>
      <% parse_nested_field(@record['notes']).each do |note| %>
        <li><%= "#{note['kind']}: " if note['kind'] %><%= note['value'] %></li>
      <% end %>
      </ul>
    <% end %>

    <% if @record['provider'].present? %>
      <h3 class="section-title">Provider</h3>
      <p><%= @record['provider'] %></p>
    <% end %>

    <% if @record['rights'].present? %>
      <h3 class="section-title">Rights</h3>
      <ul>
      <% parse_nested_field(@record['rights']).each do |right| %>
        <!-- Ignore 'access to files' right, which is implied in the access link and the 'geo_data_info partial' -->
        <% unless right['kind'] == 'Access to files' %>
          <li><%= "#{right['kind']}: " if right['kind'] %><%= right['description'] %></li>
        <% end %>
      <% end %>
      </ul>
    <% end %>

    <% if @record['citation'].present? %>
      <h3 class="section-title">Citation</h3>
      <p><%= @record['citation'] %></p>
    <% end %>

    <% if @record['format'].present? %>
      <h3 class="section-title">Format</h3>
      <p><%= @record['format'] %></p>
    <% end %>

    <% if @record['languages'].present? %>
      <h3 class="section-title">Languages</h3>
      <ul>
      <% @record['languages'].each do |language| %>
        <li><%= language %></li>
      <% end %>
      </ul>
    <% end %>
  </main>

  <%= render('sidebar') %>

</div>
