<div class="gridband layout-3q1q wrap-full-record">
  <div class="col3q box-content region full-record" data-region="Full record">

    <h2 class="record-title">
      <span class="sr">Title: </span>
      <% if @record['title'].present? %>
        <%= @record['title'] %>
      <% else %>
        No title provided for this item.
      <% end %>
    </h2>

    <p>
      <span class="record-type">
        <% # we need to create separate displays for different types of content types, see https://github.com/MITLibraries/bento/pull/908/files#diff-6718f9b88f6f93e59d8c2509512dc40a62088430ff3cce1165ab414565949415L22-L57 for starting point but we should anticipate wanting to expand to many more unique content types %>
        <span class="sr">Type</span> <%= @record['contentType'].join %>
      </span>

      <% if @record['citation'].present? %>

        <span class="record-citation">
          <%= @record['citation'] %>
        </span>

      <% else %>

        <% if @record['dates'].map{|date| date if date['kind'] == 'Publication date'}.compact.present? %>
          <span class="record-year">
            : Published <%= date_parse(publication_date(@record)) %>
          </span>
        <% end %>
        <% if @record['edition'].present? %>
          <span class="record-edition">
            : Edition <%= @record['edition'] %>
          </span>
        <% end %>
      <% end %>
    </p>

    <% # we should helper this up to handle insanely large lists of authors %>
    <% if @record['contributors'].present? %>
      <p class="record-authors">
        <span class="sr"><%= "Author".pluralize(@record['contributors'].count) %>: </span>
          <% @record['contributors'].each do |author| %>
            <span class="record-author">
              <%= author['value'] %> 
              <% if author['affiliation'].present? %>
                (<%= author['affiliation'].join %>)
              <% end %>;
            </span>
          <% end %>
        </span>
      </p>
    <% end %>

    <% # NOTE: link resolver links are not very useful to most of the content in timdex currently. For dspace and all RDI sources, the source link is better than a link resolver link %>
    <h3 class="section-title">Links</h3>
    <ul class="list-links">
      <li>
        <span class="label">Source:</span> <%= link_to(@record['source'], @record['sourceLink']) %>
      </li>

      <% if @record['links'].present? %>
        <% @record['links'].each do |link| %>
          <li>
            <%= link_to(link['text'] || 'unknown', link['url']) %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <% if @record['summary'].present? %>
      <h3 class="section-title">Summary</h3>
      <% @record['summary'].each do |paragraph| %>
        <p>
          <%= sanitize paragraph, tags: %w(p strong em a), attributes: %w(href) %>
        </p>
      <% end %>
    <% end %>

    <h3 class="section-title">More information</h3>

    <ul class="list-moreinfo">
      <%# pub type%>

      <%# pub info%>
      <% if @record['publicationInformation'] %>
        <li>Publication Information: <%= @record['publicationInformation'].join('; ') %></li>
      <% end %>

      <%# identifiers %>
      <% if @record['identifiers'].present? %>

        <% @record['identifiers'].each do |id| %>
          <li>
            <span class="label"><%= id['kind'].upcase %>:</span> 
            <span class="<%= id['kind']%>"><%= id['value'] %></span>
          </li>
        <% end%>
      <% end %>

      <%# language %>
      <% if @record['languages'].present? %>
        <li>
          <span class="label"><%= "Language".pluralize(@record['languages'].count) %>:</span> <%= @record['languages'].join(',') %>
        </li>
      <% end %>
    </ul>

    <%# subjects%>
    <% if @record['subjects'].present? %>
      <h3 class="section-title">Subjects</h3>
        <ul class="list-subjects">
          <% @record['subjects'].each do |subject| %>
            <li>
              <%= "#{subject['kind']}: " if subject['kind'] != "Subject scheme not provided" %>
              <%= subject['value'].join(', ') %>
            </li>
          <% end %>
        </ul>
    <% end %>

    <%# dates%>
    <% if @record['dates'].present? %>
      <h3 class="section-title">Dates</h3>
        <ul class="list-dates">
          <% @record['dates'].each do |date| %>
            <li>
              <%= date['kind'] %>: <%= date_parse(date['value']) %><%= date_range(date['range']) %>
              <%= " Note: #{date['note']}" if date['note'].present? %>
            </li>
          <% end %>
        </ul>
    <% end %>

    <% if @record['notes'].present? %>
      <h3 class="section-title">Notes</h3>
      <% @record['notes'].each do |note| %>
        <% if note['kind'].present? %>
          <%= note['kind'] %>:
        <% end %>
        <% note['value'].each do |paragraph| %>
          <%= sanitize paragraph, tags: %w(p strong em a), attributes: %w(href) %>
        <% end %>
      <% end %>
    <% end %>

    <% if @record['rights'].present? %>
      <h3 class="section-title">Rights</h3>
      <ul>
      <% @record['rights'].each do |right| %>
        <li>
          <% if right['kind'].present? %>
            <%= right['kind'] %>:
          <% end %>
          <% if right['uri'].present? %>

            <% # note: not all URIs are URLs. Only treat URL-like URIs as links. %>
            <% if right['uri'].start_with?('http')%>
              <%= link_to(right['uri'], right['uri']) %>
            <% else %>
              <%= right['uri'] %>
            <% end %>

          <% end %>
          <% if right['description'].present? %>
            <%= right['description'] %>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>

    <%= render('misc') %>
  </div>

  <%= render('sidebar') %>

</div>

<% if params[:debug].present? %>
  <%= debug(@record) %>
<% end %>
