<% content_for :title, "About Search MIT Libraries" %>

<div class="container about-sml">
  <h2>About Search MIT Libraries</h2>

  <p>Search across all MIT Libraries systems — articles, books, theses, archival finding aids, research guides, databases, geospatial data, and more. Results come from multiple library sources, each identified by a label so you know the source.</p>

  <p>You can also find library events, classes, staff, and services.</p>
  
  <p>Learn about <%= link_to 'Opting into the Natural Language Search (NLS)', about_natural_language_search_path %>.</p>

  <p>For advanced searching of articles, books, and media, use <%= link_to 'Articles, Books & More', 'https://libraries.mit.edu/search-collections' %>.</p>

  <p>Sharing your experiences (good and bad) will help us understand how to make this search work better. <%= link_to 'Send us your feedback!', 'https://libraries.mit.edu/use-feedback' %> NOTE: If you need help now, please use <%= link_to 'Ask Us', 'https://libraries.mit.edu/ask' %> for expert reference help - the feedback form is not actively monitored on a daily basis.</p>

  <h3>What the new search does</h3>

  <ul>
    <li>Presents a single search to start exploring library resources, which previously required using multiple, separate search tools.</li>
    <li>Finds content from across MIT Libraries collections: books, articles, archival materials and more. It also includes MIT Libraries website results for information on services like hours and locations, news and events, and how to get help from our expert staff.</li>
    <li>Allows narrowing of initial search results to filter by content type via tabs</li>
    <li>Provides clear prompts for pathways to advanced search, alternative search options, or getting help when needed.</li>
    <li>Suggests specific resources that can be tricky to find, as well as guides to help with your research.</li>
  </ul>

  <h3>What the new search does not do</h3>

  <ul>
    <li>Does not replace advanced functionality in our <%= link_to 'core search tools', 'https://libraries.mit.edu/search' %> (such as the MIT Libraries catalog: <%= link_to 'Articles, Books & More', 'https://libraries.mit.edu/search-collections' %>) – advanced search and filtering, full record views, requests, etc.</li>
    <li>Does not replace our <%= link_to 'specialized databases', 'https://libguides.mit.edu/az.php' %> (PubMed, JSTOR, etc.) – those still matter for advanced research.</li>
  </ul>

  <h3>What is included in this search?</h3>

  <p>See our search page to learn about the following tools and other ways you can search the MIT Libraries’ offerings:</p>

  <ul>
    <li><%= link_to 'Articles, Books & More', 'https://libraries.mit.edu/search-collections' %></li>
    <li><%= link_to 'Research Databases', 'https://libguides.mit.edu/az.php' %></li>
    <li><%= link_to 'Archives & Manuscripts', 'https://archivesspace.mit.edu/' %></li>
    <li><%= link_to 'MIT Open Scholarship', 'https://dspace.mit.edu/' %></li>
    <li><%= link_to 'Geospatial Data', 'https://geodata.libraries.mit.edu/' %></li>
    <li><%= link_to 'MIT Libraries Website', 'https://libraries.mit.edu/' %></li>
    <li><%= link_to 'Research Guides', 'https://libguides.mit.edu/' %></li>
  </ul>
</div>
