<%= content_for(:title, "Style Guide | MIT Libraries") %>

<div class="layout-3q1q layout-band">
  <h1>TIMDEX UI Style Guide</h1>
  <aside class="col1q-r content-sup" role="complementary">
    <h3>On this page</h3>
    <ul class="list-unbulleted">
      <li><a href="#typography">Typography</a></li>
      <li><a href="#applied-typography">Applied Typography</a></li>
      <li><a href="#tables">Tables</a></li>
      <li><a href="#buttons">Buttons</a></li>
      <li><a href="#forms">Search forms</a></li>
      <li><a href="#alerts">Alerts</a></li>
      <li><a href="#panels">Panels</a></li>
    </ul>
  </aside>
  <div class="col3q">

    <div class="subtitle top-line" id="typography">Typography, fonts, and text</div>

    <%= render "typography" %>

    <div class="subtitle top-line" id="applied-typography">Applied typography</div>

    <%= render "applied_typography" %>

    <div class="subtitle top-line" id="tables">Tables</div>

    <%= render "tables" %>

    <div class="subtitle top-line" id="buttons">Buttons</div>

    <%= render "buttons" %>

    <div class="subtitle top-line" id="forms">Search forms</div>

    <%= render "forms" %>

    <div class="subtitle top-line" id="alerts">Alert messages</div>

    <%= render "alerts" %>

    <div class="subtitle top-line" id="panels">Panels</div>

    <%= render "panels" %>

  </div>
</div>
