<% return unless @json.present? %>

<div id="isbn-fact" class="panel panel-info fact">
  <div class="panel-heading">
    <%= link_to @json[:title], @json[:openurl] %>
  </div>

  <div class="panel-body">
    <ul>
      <% if @json[:author_names].present? %>
        <li><%= @json[:author_names] %></li>
      <% end %>
      <li><%= @json[:publish_date] %> (<%= @json[:publishers].join('; ') %>)</li>
    </ul>
  </div>

  <div class="panel-footer">
    <span><%= t('.is_relevant') %> </span>
    <a href="#"><%= t('.yes') %></a> | <a href="#"><%= t('.no') %></a>
  </div>
</div>
