<form id="advanced-search" class="form-horizontal advanced-search" action="/results" method="get">
  <input type="hidden" name="advanced" value="true">

  <div class="field-wrap">
    <label for="advanced-keyword" class="field-label">Keyword anywhere</label>
    <input type="text" class="field field-text wide" id="advanced-keyword" name="q" placeholder="keyword anywhere" value=<%= params[:q] %>>
  </div>

  <div class="field-wrap">
    <label for="advanced-citation" class="field-label">Citation</label>
    <input type="text" class="field field-text wide" id="advanced-citation" name="citation" placeholder="citation" value=<%= params[:citation] %>>
  </div>

  <div class="field-wrap">
    <label for="advanced-contributors" class="field-label">Contributors</label>
    <input type="text" class="field field-text wide" id="advanced-contributors" name="contributors" placeholder="contributors" value=<%= params[:contributors] %>>
  </div>

  <div class="field-wrap">
    <label for="advanced-fundingInformation" class="field-label">Funding information</label>
    <input type="text" class="field field-text wide" id="advanced-fundingInformation" name="fundingInformation" placeholder="fundingInformation" value=<%= params[:fundingInformation] %>>
  </div>

  <div class="field-wrap">
    <label for="advanced-identifiers" class="field-label">Identifiers</label>
    <input type="text" class="field field-text wide" id="advanced-identifiers" name="identifiers" placeholder="identifiers" value=<%= params[:identifiers] %>>
  </div>

  <div class="field-wrap">
    <label for="advanced-locations" class="field-label">Locations</label>
    <input type="text" class="field field-text wide" id="advanced-locations" name="locations" placeholder="locations" value=<%= params[:locations] %>>
  </div>

  <div class="field-wrap">
    <label for="advanced-subjects" class="field-label">Subjects</label>
    <input type="text" class="field field-text wide" id="advanced-subjects" name="subjects" placeholder="subjects" value=<%= params[:subjects] %>>
  </div>

  <div class="field-wrap">
    <label for="advanced-title" class="field-label">Title</label>
    <input type="text" class="field field-text wide" id="advanced-title" name="title" placeholder="title" value=<%= params[:title] %>>
  </div>

  <div class="field-wrap">
    <label for="advanced-source" class="field-label">Source</label>
    <select id="advanced-source" class="field field-select" name="source">
      <option></option>
      <option <%= "selected" if params[:source] == "Abdul Latif Jameel Poverty Action Lab Dataverse"%>>Abdul Latif Jameel Poverty Action Lab Dataverse</option>
      <option <%= "selected" if params[:source] == "Zenodo"%>>Zenodo</option>
      <option>ArchivesSpace@MIT (no data yet)</option>
      <option>DSpace@MIT (no data yet)</option>
    </select>
    NOTE: to allow selecting multiple sources we need to change the way we handle this in TIMDEX to treat source as an
    "OR" search not "AND"
  </div>

  <div class="form-group">
    <button type="submit" class="btn button-primary">Submit</button>    
  </div>
</form>

<p><%= link_to("Basic search", root_path) %>
