<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "layouts/head" %>
  </head>
  <body class="app-theme">
    <%= render partial: "layouts/skip_links" %>

    <div class="wrap-page">

      <%= render partial: "layouts/global_alert" %>

      <%= render partial: "layouts/site_header" %>
      
      <div class="wrap-outer-content layout-band">
        <div class="wrap-content">
          <%= render partial: "layouts/flash" %>

          <%= yield %>

          <%= render partial: "layouts/site_footer" %>
        </div>
      </div>

      <footer>
        <%= render partial: "layouts/libraries_footer" %>
        <%= render partial: "layouts/institute_footer" %>
      </footer>
    </div>
    <!-- close wrap-page -->
  </body>
</html>
